<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <h1>Your Movies Reviewed  &#128253;</h1>
    <small>Made with<span id="heart"> ❤️ </span> by <a id="portfolio" href="http://laureninacio.com/">Lauren Inacio</a></small>
    <br>
    <i class="lead">"I read every single review, because I love film criticism and I'm interested." --Melanie Lynskey</i>
    <p><%= link_to "Sign up to write a review!", new_user_registration_path, class: "btn btn-info btn-lg" %></p>
  </div>
<% end %>


<!--displays when user is signed in-->
<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
    </div>
  </div>
  <% end %>
</div>
